.contact-us {
  padding-top: 243px;
  padding-bottom: 158px;

  &--v2 {
    padding-top: 152px;

    .contact-us {
      &__text {
        margin-bottom: 118px;
      }
    }
  }

  &__wrapper {
    width: 77%;
    margin: 0 auto;

    @include decorative-img('../img/mail.png', 236px, 172px, 0, 28px);
  }

  &__title {
    max-width: 650px;
    margin: 0;
    margin-bottom: 28px;
    font-size: 36px;
    line-height: 54px;
  }

  &__text {
    @include h5();
    max-width: 650px;
    margin: 0;
    margin-bottom: 78px;
  }

  @media #{$lg} {
    &__wrapper {
      &::after {
        right: 5px;
        width: 200px;
      }
    }
  }

  @media #{$md} {
    &__wrapper {
      &::after {
        width: 170px;
      }
    }

    &__title {
      max-width: 450px;
    }

    &__text {
      max-width: 480px;
    }
  }

  @media #{$sm} {
    &__wrapper {
      width: 100%;

      &::after {
        display: none;
      }
    }

    &__text {
      margin-bottom: 40px;
    }
  }

  @media #{$xs} {
    padding-top: 160px;
    padding-bottom: 64px;

    &--v2 {
      padding-top: 80px;

      .contact-us {
        &__text {
          margin-bottom: 50px;
        }
      }
    }

    &__title {
      max-width: none;
      margin-bottom: 16px;
      font-size: 32px;
      line-height: 44px;
    }

    &__text {
      max-width: 82%;
      margin-bottom: 27px;
    }
  }
}
