.first-screen {
  position: relative;
  padding-top: 190px;
  padding-bottom: 285px;

  @include decorative-img(
    '../img/first-screen.png',
    854px,
    100%,
    '',
    '',
    0,
    45%,
    'right bottom'
  );

  &--ind-donation {
    padding-top: 200px;
    padding-bottom: 209px;
    overflow: hidden;

    @include decorative-img(
      '../img/ind-donation-main.png',
      781px,
      110%,
      '',
      '',
      -103px,
      44.6%,
      'right bottom'
    );

    .first-screen {
      &__title {
        margin-bottom: 40px;

        &::after {
          display: none;
        }
      }
    }
  }

  &--org-d {
    padding-bottom: 190px;

    @include decorative-img(
      '../img/org-donation-main.png',
      627px,
      100%,
      '',
      '',
      -29px,
      54.5%,
      'right bottom'
    );

    .first-screen {
      &__title {
        max-width: 730px;

        &::after {
          display: none;
        }
      }

      &__text {
        max-width: 615px;
      }
    }
  }

  &__title {
    @include h1();
    max-width: 825px;
    margin: 0;
    margin-bottom: 52px;
    font-family: $secondary-font;
    line-height: 120px;
    color: $gray-200;

    @include decorative-img(
      '../img/first-heading-decoration.png',
      50px,
      123px,
      -174px,
      -91px
    );
  }

  &__text {
    @include h5();
    line-height: 46px;
    max-width: 665px;
    margin: 0;
    margin-bottom: 72px;
    color: rgba($gray-200, 0.7);

    b {
      color: $gray-200;
    }
  }

  &__btn {
    position: relative;
    z-index: 2;
  }

  @media #{$lg} {
    padding-top: 120px;
    padding-bottom: 180px;

    &--org-d {
      .first-screen {
        &__title {
          max-width: 600px;
        }

        &__text {
          max-width: 480px;
        }
      }
    }

    &::after {
      left: 43%;
    }

    &--ind-donation {
      &::after {
        left: calc(50% - 255px);
      }
    }

    &__title {
      &::after {
        top: -115px;
      }
    }
  }

  @media #{$md} {
    &::after {
      left: 35%;
    }

    &--ind-donation {
      &::after {
        left: 25%;
      }
    }
    &--org-d {
      &::after {
        left: 45%;
      }
    }

    &__title {
      max-width: 750px;

      &::after {
        right: 0;
      }
    }

    &__text {
      max-width: 525px;
    }
  }

  @media #{$sm} {
    &::after {
      left: 25%;
    }

    &--ind-donation {
      &::after {
        left: 45%;
        width: 450px;
      }
    }
    &--org-d {
      &::after {
        right: 2%;
        left: auto;
        width: 42%;
      }

      .first-screen {
        &__title {
          max-width: 430px;
        }

        &__text {
          max-width: 400px;
        }
      }
    }

    &__title {
      max-width: 550px;

      &::after {
        right: 50px;
      }
    }
  }

  @media #{$xs} {
    padding-top: 50px;
    padding-bottom: 303px;

    &::after {
      right: 3px;
      left: auto;
      width: 312px;
      height: 351px;
    }

    &--org-d {
      padding-bottom: 60px;

      &::after {
        right: 5%;
        bottom: 15%;
        width: 33%;
      }

      .first-screen {
        &__title {
          max-width: 320px;
        }

        &__text {
          max-width: 300px;
        }
      }
    }

    &--ind-donation {
      padding-bottom: 120px;

      &::after {
        bottom: -10px;
        width: 500px;
      }
    }

    &__title {
      max-width: 60%;
      margin-bottom: 28px;

      &::after {
        width: 17px;
        height: 46px;
        top: -50px;
        right: 90px;
      }
    }

    &__text {
      max-width: 55%;
      margin-bottom: 35px;
      // font-size: 12px;
      // line-height: 22px;
    }
  }

  @media #{$mobile-landscape} {
    &--ind-donation {
      padding-bottom: 303px;

      &::after {
        bottom: -25px;
        width: 400px;
      }

      .first-screen {
        &__title {
          max-width: none;
        }

        &__text {
          max-width: none;
        }
      }
    }

    &--org-d {
      padding-bottom: 303px;

      &::after {
        bottom: -25px;
        width: 400px;
      }

      .first-screen {
        &__title {
          max-width: none;
        }

        &__text {
          max-width: none;
        }
      }
    }
  }
}
