.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__column {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 50%;

    &:first-of-type {
      padding-right: 20px;
    }

    &:last-of-type {
      padding-left: 20px;
    }
  }

  &__btn {
    min-width: 188px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-top: 55px;
  }
  
  @media #{$sm} {
    &__wrapper {
      flex-direction: column;
    }

    &__column {
      width: 100%;

      &:first-of-type {
        padding-right: 0;
        margin-bottom: 22px;
      }
  
      &:last-of-type {
        padding-left: 0;
      }
    }

    &__btn {
      min-width: 120px;
      padding-top: 9px;
      padding-bottom: 9px;
      margin-top: 32px;
    }
  }
}
