.how-to-donate {
  padding-top: 77px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__descr {
    width: 100%;
    padding-bottom: 110px;
    padding-left: 265px;

    @include decorative-img(
      '../img/pills3.png',
      192px,
      204px,
      14px,
      '',
      '',
      11px
    );
  }

  &__title {
    @include h3();
    margin: 0;
    margin-bottom: 40px;
    padding-left: 110px;
    font-family: $secondary-font;
  }

  &__subtitle {
    @include h4();
    max-width: 770px;
    margin: 0;
    text-align: center;
  }

  &__column {
    display: flex;

    &:first-child {
      width: 472px;
      padding-right: 30px;
    }

    &:last-child {
      max-width: 55%;
      flex-grow: 1;
      padding-left: 30px;
    }
  }

  &__map {
    width: 100%;
  }

  @media #{$lg} {
    &__column {
      &:last-child {
        max-width: 55%;
      }
    }
  }

  @media #{$md} {
    &__column {
      &:first-child {
        width: 400px;
      }
    }

    &__descr {
      &::after {
        width: 170px;
      }
    }

    &__title {
      max-width: 470px;
      padding-left: 0;
    }

    &__subtitle {
      text-align: left;
      max-width: 550px;
    }
  }

  @media #{$sm} {
    &__column {
      &:first-child {
        width: 300px;
      }
    }

    &__descr {
      padding-left: 225px;

      &::after {
        width: 150px;
      }
    }

    &__title {
      max-width: 380px;
    }

    &__subtitle {
      max-width: 400px;
    }

    @media #{$xs} {
      padding-top: 0;

      &__wrapper {
        flex-wrap: wrap;
      }

      &__column {
        &:first-child {
          width: 100%;
          padding-right: 0;
        }

        &:last-child {
          width: 100%;
          max-width: 100%;
          padding-left: 0;
          order: -1;
        }
      }

      &__descr {
        padding-left: 0;
        padding-bottom: 20px;

        &::after {
          top: -15px;
          right: 35px;
          left: auto;
          width: 91px;
          height: 97px;
        }
      }

      &__title {
        padding-right: 50%;
        margin-bottom: 34px;
      }

      &__map {
        height: 50vw;
        margin-bottom: 20px;
      }
    }
  }
}
