.list {
  @include ul-reset();

  &__item {
    @include h6();
    position: relative;
    padding-left: 15px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $brand-color;
      transform: translateY(-50%);
    }
  }
}