.main-nav {
  &__list {
    @include ul-reset();
    display: flex;
    justify-content: space-around;
    padding-right: 50px;
    padding-left: 50px;
  }

  &__item {
    padding: 10px;

    a {
      @include a-reset();
      @include h6();

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &--footer {
    .main-nav {
      &__list {
        flex-direction: column;
        padding-right: 0;
      }

      &__item {
        padding: 0;
        margin-bottom: 15px;

        a {
          @include h5();
          // font-size: 24px;
          // line-height: 42px;
          color: $white;
        }
      }
    }
  }

  @media #{$xs} {
    &__list {
      display: none;
    }

    &--footer {
      .main-nav {
        &__list {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }
}
