extends /layouts/index

append head
  title SIRUM

block header
  include /mixins/header
  +header([{name: 'Donate Medicine'}, {name: 'Receive'}, {name: 'Sign Up', modifier: 'underlined'}, {name: 'Sign In'}])

block main
  main.main-content
    .first-screen
      .main-content__wrapper
        h1.first-screen__title Reimagining access for those in need
        p.first-screen__text <b>SIRUM</b> drives the future of healthcare by connecting people with surplus medications.
        a.first-screen__btn.btn.btn--big Contact Us
    .explanation-block.explanation-block--first
      .main-content__wrapper
        .explanation-block__wrapper
          .explanation-block__column
            h2.explanation-block__title Why medicine?
            h4.explanation-block__subtitle Because our health is a fundamental part of being human. Without it, we have nothing.
          .explanation-block__column
            p.explanation-block__text 50 million Americans don’t take their prescribed medication because they can’t afford it. With soaring copays, deductibles, and insurance costs, many people are making impossible choices between medications, food and housing, gas to get to work, and more.
            p.explanation-block__text Not taking your medications, however, often leads to even worse outcomes—heart attacks, strokes, and even higher costs. This is our nation’s most critical problem, but it doesn’t have to be.
            p.explanation-block__text That's why we're here. SIRUM provides access so everyone gets the care they deserve.
    .stats
      .main-content__wrapper
        .stats__wrapper
          .stats__column
          .stats__column
            h2.stats__title SIRUM saves medicine to save lives
            p.stats__text We’re national drug donation law experts who enable health facilities and pharmacies to donate their unused medicine. Our system is built to ensure compliance and provide full liability protection.
          ul.stats__list
            li.stats__item
              b.stats__item-title 2,700
              span.stats__item-text donations shipped through our platform.
            li.stats__item
              b.stats__item-title $99,999,999
              span.stats__item-text of medicine redistributed <br>to partners.
            li.stats__item
              b.stats__item-title 555,555
              span.stats__item-text pounds of medications diverted from incinerators, landfills, and waterways.
    .explanation-block.explanation-block--second
      .main-content__wrapper
        .explanation-block__wrapper
          .explanation-block__column
            h2.explanation-block__title Curious about the impact we make each day?
          .explanation-block__column
            p.explanation-block__text We’re dedicated to capturing our impact through real&#8209;time records and metrics.
            .explanation-block__btn-wrapper
              a(href="#").btn.btn--white.btn--small Check out our live donation data here
    .donation
      .who-can-donate
        .main-content__wrapper
          .who-can-donate__wrapper
            .who-can-donate__column
              h2.who-can-donate__title Who can donate?
            .who-can-donate__column
              p.who-can-donate__text SIRUM directly accepts medicine from manufacturers, pharmacies, wholesalers, and health facilities. If you’re an individual with unused medicine to donate, you can donate through one of our partners.
              p.who-can-donate__text You can also contribute to our cause with a monetary donation. Every little bit helps, and we appreciate your support.
          .who-can-donate__btns-group.btns-group
            a(href="#").btns-group__btn.btn.btn--transparent Organization donation
            a(href="#").btns-group__btn.btn.btn--transparent Individual donation
            a(href="#").btns-group__btn.btn.btn--transparent Donate money
      .how-to-donate
        .main-content__wrapper
          .how-to-donate__descr
            h3.how-to-donate__title How does it work?
            p.how-to-donate__subtitle We take surplus medications off of your hands and get them to the people who need them.
          .how-to-donate__wrapper
            .how-to-donate__column
              .check-donation
                p.check-donation__text <b>To get started</b>, check if your organization is eligible.
                .check-donation__wrapper
                  select.check-donation__select-state
                  .check-donation__column
                    b.check-donation__btn-label Eligible to donate
                    a(href="#").check-donation__btn.btn Sign Up
                    ul.check-donation__list
                      li.check-donation__list-item lorem ipsum
                      li.check-donation__list-item lorem ipsum
                      li.check-donation__list-item lorem ipsum
                      li.check-donation__list-item lorem ipsum
                  .check-donation__column
                    b.check-donation__btn-label Eligible to receive
                    a(href="#").check-donation__btn.btn.btn--transparent Join waitlist
                    ul.check-donation__list
                      li.check-donation__list-item Lorem ipsum dolor sit amet
            .how-to-donate__column
              .how-to-donate__map
        .donation-steps
          .main-content__wrapper
            .donation-steps__wrapper
              ul.donation-steps__list
                li.donation-steps__item.donation-steps__item--step-1
                  h4.donation-steps__item-title Register
                  p.donation-steps__item-text Answer a few simple questions and <br>sign our agreement to donate or <br>receive medicine.
                li.donation-steps__item.donation-steps__item--step-2
                  h4.donation-steps__item-title Box it up
                  p.donation-steps__item-text We’ll send everything you need to ship. Place medicines in the provided box, and we’ll schedule a pickup through FedEx.
                li.donation-steps__item.donation-steps__item--step-3
                  h4.donation-steps__item-title Stay confidently compliant
                  p.donation-steps__item-text We provide a full record of the <br>donation, along with the impact it <br>had on the community.
              a(href="#").donation-steps__btn.btn.btn--big Sign Up
    .impact
      .main-content__wrapper
        .impact__wrapper
          h2.impact__title The impact is real
          .impact__carousel
            .swipeshow
              ul.slides
                li.slide
                  blockquote.impact__blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt laoreet leo, eget laoreet mi pellentesque volutpat. Phasellus id metus nec lectus porta interdum eu id diam.
                    cite.impact__blockquote-author Press Org
                li.slide
                  blockquote.impact__blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt laoreet leo, eget laoreet mi pellentesque volutpat. Phasellus id metus nec lectus porta interdum eu id diam.
                    cite.impact__blockquote-author Press Org
                li.slide
                  blockquote.impact__blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt laoreet leo, eget laoreet mi pellentesque volutpat. Phasellus id metus nec lectus porta interdum eu id diam.
                    cite.impact__blockquote-author Press Org
                li.slide
                  blockquote.impact__blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt laoreet leo, eget laoreet mi pellentesque volutpat. Phasellus id metus nec lectus porta interdum eu id diam.
                    cite.impact__blockquote-author Press Org
            .dots
    .partners
      .main-content__wrapper
        .partners__wrapper
          h2.partners__title Our partners
          ul.partners__list
            li.partners__item
              a(href="#")
                img(src="img/partner1.png", alt="proderm" width=122)
            li.partners__item
              a(href="#")
                img(src="img/partner2.png", alt="comfort" width=140)
            li.partners__item
              a(href="#")
                img(src="img/partner3.png", alt="lush" width=121)
            li.partners__item
              a(href="#")
                img(src="img/partner4.png", alt="noppies" width=141)
            li.partners__item
              a(href="#")
                img(src="img/partner5.png", alt="ripple" width=162)
    .call-to-action-block
      .main-content__wrapper
        .call-to-action-block__wrapper
          h2.call-to-action-block__title Is your organization ready to make a positive impact?
          p.call-to-action-block__text Get started with SIRUM to reduce your destruction costs and help save lives.
          a(href="#").call-to-action-block__btn.btn.btn--big Sign Up
    .contact-us
      .main-content__wrapper
        .contact-us__wrapper
          h3.contact-us__title Want more information?
          p.contact-us__text We’d love to connect with anyone interested in learning more about our work. Simply fill out the form below.
          form(action="/" method="post").form.contact-us__form
            .form__wrapper
              .form__column
                .form-fields-group
                  .form-fields-group__item.form-field
                    input(type="text" name="name" placeholder="Name*" required)
                  .form-fields-group__item.form-field
                    input(type="email" name="email" placeholder="Email*" required)
                .form-field
                  input(type="text" name="organization" placeholder="Organization name")
                .form-field
                  input(type="text" name="state" placeholder="State")
                .form-field
                  input(type="text" name="info-from" placeholder="How’d you learn about us?")
              .form__column
                .form-field.form-field--auto-height
                  textarea(name="message" placeholder="Message*" required)
                button(type="submit").form__btn.btn Send
            