extends /layouts/index

append head
  title Individual donation

block main
  main.main-content
    .first-screen.first-screen--ind-donation
      .main-content__wrapper
        h1.first-screen__title Make an impact
        p.first-screen__text Lend a helping hand to those in need by donating unused medication or funds to support our work. Your donations stop waste and save lives.
    .explanation-block.explanation-block--ind-d
      .main-content__wrapper
        .explanation-block__wrapper
          h2.explanation-block__title Donate to SIRUM directly
        .explanation-block__wrapper
          .explanation-block__column
            p.explanation-block__text If you want to help our mission directly, SIRUM accepts monetary donations
            a(href="#").explanation-block__btn.btn.btn--white Donate money
          .explanation-block__column
            p.explanation-block__text If you’re an organization wanting to donate, select learn more below
            a(href="#").explanation-block__btn.btn.btn--transparent-white Learn more
    .donation-steps.donation-steps--ind-d
      .main-content__wrapper
        .donation-steps__wrapper
          h2.donation-steps__title Donate Medication
          p.donation-steps__text SIRUM US, LLC only accepts medication donations from organizations at this time, but if you follow the instructions below, we can help your medication get into the right hands through one of our partners.
          a(href="tel:6504887434").link.donation-steps__text Questions? Call 650-488-7434
          ul.donation-steps__list
            li.donation-steps__item.donation-steps__item--step-1
              h4.donation-steps__item-title Lorem Ipsum
              p.donation-steps__item-text Collect all eligible medications that are:
              ul.list
                li.list__item Sealed/Unopened
                li.list__item 5+ months from expiration
                li.list__item Non-refrigerated
                li.list__item Non-controlled
            li.donation-steps__item.donation-steps__item--step-2
              h4.donation-steps__item-title Lorem Ipsum
              p.donation-steps__item-text Fill out the <a href="#donor-form" class="link link--underlined">donor form</a> below with eligible medication info. We will email you a completed copy to include with the donation.
            li.donation-steps__item.donation-steps__item--step-3
              h4.donation-steps__item-title Lorem Ipsum
              p.donation-steps__item-text We will email you a shipping label, so you just have to drop the donation off at the nearest <a class="link link--underlined" href="#">fedex&nbsp;location</a> or schedule a pickup.
            li.donation-steps__item.donation-steps__item--step-4
              h4.donation-steps__item-title Lorem Ipsum
              p.donation-steps__item-text Dispose of any medications that were not eligible for donation by following <a class="link link--underlined" href="#">these&nbsp;instructions</a>
          p.donation-steps__text <b>Fill out the form below to get started.</b> Because SIRUM and our partners are non-profits, your donation may be eligible for a tax deduction. Thank you for supporting those in need.
    //- .donation-form
    //-   .main-content__wrapper
    //-     .donation-form__wrapper
    //-     h2.donation-form__title Ready to donate?
    //-     p.donation-form__subtitle Donated medicine must meet ALL of these criteria
    //-     form.form(action="/" method="post")
    //-       .form__wrapper
    //-         .form__column
    //-           .form-fields-group
    //-             .form-fields-group__item.form-field
    //-               input(type="text" name="name" placeholder="Name*" required)
    //-             .form-fields-group__item.form-field
    //-               input(type="email" name="email" placeholder="Email*" required)
    //-           .form-field
    //-             input(type="text" name="organization" placeholder="Organization name")
    //-           .form-field
    //-             input(type="text" name="state" placeholder="State")
    //-           .form-field
    //-             input(type="text" name="info-from" placeholder="How’d you learn about us?")
    //-         .form__column
    //-           .form-field.form-field--auto-height
    //-             textarea(name="message" placeholder="Message*" required)
    //-           button(type="submit").form__btn.btn Send
    div(style="color: red; border: 1px solid red; text-align: center") Form is going to be here
    .explanation-block.explanation-block--ind-d-last
      .main-content__wrapper
        .explanation-block__wrapper
        .explanation-block__wrapper
          .explanation-block__column
            h2.explanation-block__title Need to get rid of medicine but can’t donate?
            p.explanation-block__text If any of your medications are not eligible for donation, please dispose of them properly by dropping them off at a local collection site. If there is not a convenient collection site and the medications are not controlled substances, you can also dispose of them yourself: simply cross off your information from the prescription bottle, mix the medicine with something unappetizing (such as coffee grounds or kitty litter), and place it into your household trash. <a class="link link--underlined" href="#">Learn more</a> about proper disposal from the FDA.
          .explanation-block__column