extends /layouts/index

append head
  title Individual donation

block main
  main.main-content
    .first-screen.first-screen--ind-donation
      .main-content__wrapper
        h1.first-screen__title Make an impact
        p.first-screen__text Lend a helping hand to those in need by donating unused medication or funds to support our work. Your donations stop waste and save lives.
    .explanation-block.explanation-block--ind-d
      .main-content__wrapper
        .explanation-block__wrapper
          h2.explanation-block__title Donate to SIRUM directly
        .explanation-block__wrapper
          .explanation-block__column
            p.explanation-block__text If you want to help our mission directly, SIRUM accepts monetary donations
            a(href="#").explanation-block__btn.btn.btn--white Donate money
          .explanation-block__column
            p.explanation-block__text If you’re an organization wanting to donate, select learn more below
            a(href="#").explanation-block__btn.btn.btn--transparent-white Learn more
    .donation-steps.donation-steps--ind-d
      .main-content__wrapper
        .donation-steps__wrapper
          h2.donation-steps__title Donate Medication
          p.donation-steps__text SIRUM US, LLC only accepts medication donations from organizations at this time, but if you follow the instructions below, we can help your medication get into the right hands through one of our partners.
          a(href="tel:6504887434").link.donation-steps__text Questions? Call 650-488-7434
          ul.donation-steps__list
            li.donation-steps__item.donation-steps__item--step-1
              h4.donation-steps__item-title Lorem Ipsum
              p.donation-steps__item-text Collect all eligible medications that are:
              ul.list
                li.list__item Sealed/Unopened
                li.list__item 5+ months from expiration
                li.list__item Non-refrigerated
                li.list__item Non-controlled
            li.donation-steps__item.donation-steps__item--step-2
              h4.donation-steps__item-title Lorem Ipsum
              p.donation-steps__item-text Fill out the <a href="#donor-form" class="link link--underlined">donor form</a> below with eligible medication info. We will email you a completed copy to include with the donation.
            li.donation-steps__item.donation-steps__item--step-3
              h4.donation-steps__item-title Lorem Ipsum
              p.donation-steps__item-text We will email you a shipping label, so you just have to drop the donation off at the nearest <a class="link link--underlined" href="#">fedex&nbsp;location</a> or schedule a pickup.
            li.donation-steps__item.donation-steps__item--step-4
              h4.donation-steps__item-title Lorem Ipsum
              p.donation-steps__item-text Dispose of any medications that were not eligible for donation by following <a class="link link--underlined" href="#">these&nbsp;instructions</a>
          p.donation-steps__text <b>Fill out the form below to get started.</b> Because SIRUM and our partners are non-profits, your donation may be eligible for a tax deduction. Thank you for supporting those in need.
    .donation-form.donation-form--ind-d#donor-form
      .main-content__wrapper
        .donation-form__wrapper
        form.form(action="/" method="post")
          fieldset.donation-form__section.donation-form__section--checkboxes
            .form__wrapper
              h2.donation-form__title Ready to donate?
              p.donation-form__subtitle Donated medicine must meet ALL <br>of these criteria
              label.form-field.form-field--checkbox
                input(type="checkbox" required checked)
                span.form-field__indicator
                | Is not a controlled substance (no narcotics or opiods)
              label.form-field.form-field--checkbox
                input(type="checkbox" required)
                span.form-field__indicator
                | Will not expire for at least 3 months
              label.form-field.form-field--checkbox
                input(type="checkbox" required)
                span.form-field__indicator
                | Is in sealed packaging (standard amber vials not eligible)
              label.form-field.form-field--checkbox
                input(type="checkbox" required)
                span.form-field__indicator
                | Does not require refrigeration
              label.form-field.form-field--checkbox
                input(type="checkbox" required)
                span.form-field__indicator
                | Understand there is a $10+ shipping charge
          fieldset.donation-form__section
            .form__wrapper
              .form__column
                label(for="name").form__label My Name
                .form-fields-group
                  .form-fields-group__item.form-field.form-field--no-mb
                    input(type="text" name="name" id="name" placeholder="First")
                  .form-fields-group__item.form-field
                    input(type="text" name="lastname" placeholder="Last")
                label(for="email").form__label.form__label--auto-mt My Email
                .form-field
                    input(type="email" name="email" id="email" placeholder="Email")
              .form__column
                label(for="address").form__label My Address
                .form-fields-group
                  .form-fields-group__item.form-field.form-field--small-mb
                    input(type="text" name="address1" id="address" placeholder="Address line1")
                  .form-fields-group__item.form-field.form-field--small-mb
                    input(type="text" name="address2" placeholder="Address line2")
                .form-fields-group
                  .form-fields-group__item.form-field.form-field--small-mb
                    input(type="text" name="city" placeholder="City")
                  .form-fields-group__item.form-field.form-field--small-mb
                    input(type="text" name="state" placeholder="State")
                .form-field.form-field--short
                  input(type="text" name="zip" placeholder="Zip code")
          fieldset.donation-form__section.donation-form__section--list
            .form__wrapper
              legend.donation-form__subtitle List of Donated Medicine
              .form-fields-group.form-fields-group--long
                .form-fields-group__item
                  .form-field
                    label(for="drug-code").form__label.form__label--small National&nbsp;Drug&nbsp;Code
                    input(type="text" name="drug-code" id="drug-code")
                .form-fields-group__item
                  .form-field
                    label(for="ndc").form__label.form__label--small Formatted&nbsp;NDC
                    input(type="text" name="ndc" id="ndc" disabled)
                .form-fields-group__item
                  .form-field
                    label(for="drug-name").form__label.form__label--small Drug&nbsp;Name&nbsp;&&nbsp;Strength
                    input(type="text" name="drug-name" id="drug-name")
                .form-fields-group__item
                  .form-field
                    label(for="expiration-date").form__label.form__label--small Expiration&nbsp;Date
                    input(type="text" name="expiration-date" id="expiration-date" placeholder="MM/DD/YYYY")
                .form-fields-group__item
                  .form-field
                    label(for="qty-type").form__label.form__label--small Qty&nbsp;Type
                    select(name="qty-type" id="qty-type")
                      option(value="1") 1
                      option(value="2") 2
                      option(value="3") 3
                .form-fields-group__item
                  .form-field
                    label(for="quantity").form__label.form__label--small Quantity
                    input(type="text" name="quantity" id="quantity")
              button(type="button").donation-form__btn.btn.btn--transparent Add item
          fieldset.donation-form__section.donation-form__section--radio
            .form__wrapper.form__wrapper--small
              .form__column
                label.form__label Shipping Cost: How much <br>does the donation weigh?
                label.form-field.form-field--radio
                  input(type="radio" name="shipping" checked)
                  span.form-field__indicator
                  | 0 - 10lbs - $10.00
                label.form-field.form-field--radio
                  input(type="radio" name="shipping")
                  span.form-field__indicator
                  | 11 - 20lbs - $25.00
                label.form-field.form-field--radio
                  input(type="radio" name="shipping")
                  span.form-field__indicator
                  | 20lbs+
              .form__column
                label.form__label Include a tax-deductible donation <br>to support SIRUM's work?
                label.form-field.form-field--radio
                  input(type="radio" name="tax-deductible" checked)
                  span.form-field__indicator
                  | $5
                label.form-field.form-field--radio
                  input(type="radio" name="tax-deductible")
                  span.form-field__indicator
                  | $10
                label.form-field.form-field--radio
                  input(type="radio" name="tax-deductible")
                  span.form-field__indicator
                  | $25
                label.form-field.form-field--radio
                  input(type="radio" name="tax-deductible")
                  span.form-field__indicator
                  | No Thanks
          p.donation-form__text Once complete, we will email you a tax receipt, donation manifest, and a shipping label. 
          a(href="tel:6504887434").link.donation-form__text Questions? Call 650-488-7434
          button(type="submit").donation-form__btn.donation-form__btn--submit.btn Submit
    .explanation-block.explanation-block--ind-d-last
      .main-content__wrapper
        .explanation-block__wrapper
        .explanation-block__wrapper
          .explanation-block__column
            h2.explanation-block__title Need to get rid of medicine but can’t donate?
            p.explanation-block__text If any of your medications are not eligible for donation, please dispose of them properly by dropping them off at a local collection site. If there is not a convenient collection site and the medications are not controlled substances, you can also dispose of them yourself: simply cross off your information from the prescription bottle, mix the medicine with something unappetizing (such as coffee grounds or kitty litter), and place it into your household trash. <a class="link link--underlined" href="#">Learn more</a> about proper disposal from the FDA.
          .explanation-block__column