extends /layouts/index

append head
  title Organisation Donation

block header
  include /mixins/header
  +header([{name: 'Organization Donation'}, {name: 'Individual Donation'}, {name: 'Sign Up', modifier: 'underlined'}, {name: 'Sign In'}])

block main
  main.main-content
    .first-screen.first-screen--org-d
      .main-content__wrapper
        h1.first-screen__title Stop medication waste. Save lives.
        p.first-screen__text Destruction of unused medication is not just wasteful, it’s also costly and harmful to the environment. Donate unused medications to help your community and benefit your organization.
        a.first-screen__btn.btn.btn--big Sign Up
    .explanation-block.explanation-block--org-d
      .main-content__wrapper
        .explanation-block__wrapper
          h2.explanation-block__title Why donate?
          p.explanation-block__text It’s simple, really. 50 million people in the United States skip medication due to cost. Medication destruction costs $1-$3 per pound. And 70% of waterways are contaminated with pharmaceutical runoff. Your donations make a real, lasting impact.
    .reverse-block
      .main-content__wrapper
        .reverse-block__wrapper
          ul.reverse-block__list
            li.reverse-block__item.reverse-block__item--first
              h4.reverse-block__item-title Help your community
              p.reverse-block__item-text Expand your influence beyond your organization and help others in need.
            li.reverse-block__item.reverse-block__item--second
              h4.reverse-block__item-title Get tax benefits
              p.reverse-block__item-text Medicine donations may be eligible for an enhanced tax deduction, which could be a significant value to your business. <a href="#" class="link link--underlined">Contact us</a> to learn more.
            li.reverse-block__item.reverse-block__item--third
              h4.reverse-block__item-title Save money
              p.reverse-block__item-text Medication destruction is time consuming and costly for your organization. SIRUM allows you to donate your unused medication for free.
            li.reverse-block__item.reverse-block__item--fourth
              h4.reverse-block__item-title Help the environment
              p.reverse-block__item-text Medication destruction pollutes waterways with pharmaceutical runoff, and releases toxic dioxins into the air.
            li.reverse-block__item.reverse-block__item--fifth
              h4.reverse-block__item-title Feel complete confidence
              p.reverse-block__item-text We have helped with policies in over a dozen states that enable donations and provide full liability protection, so you can donate with complete confidence.
          p.reverse-block__text If you’re an individual wanting to donate, visit our <a href="#" class="link link--underlined">individual donations</a> page for more info.
    .how-to-ind-d
      .main-content__wrapper
        .how-to-ind-d__wrapper
          h2.how-to-ind-d__title How to donate
          ul.how-to-ind-d__steps
            li.how-to-ind-d__step
              .how-to-ind-d__step-column
                b.how-to-ind-d__step-title Check your eligibility.
              .how-to-ind-d__step-column
                .check-donation.check-donation--org-d-page
                  p.check-donation__text.how-to-ind-d__step-text Look up your state and license info to find out if your organization is eligible. If not, join the waitlist.
                  .check-donation__wrapper
                    select.check-donation__select-state
                    .check-donation__column
                      b.check-donation__btn-label Eligible to donate
                      a(href="#").check-donation__btn.btn Sign Up
                      ul.check-donation__list.list
                        li.list__item Manufactures
                        li.list__item Wholesalers
                        li.list__item Pharmacies
                        li.list__item Skilled Nursing
                        li.list__item Facilities (Waitlist)
                        li.list__item Assisted Living Communities (Waitlist)
                    .check-donation__column
                      b.check-donation__btn-label Eligible to receive
                      a(href="#").check-donation__btn.btn.btn--transparent Join waitlist
                      ul.check-donation__list.list
                        li.list__item No Eligible In-State Recipients
            li.how-to-ind-d__step
              .how-to-ind-d__step-column
                b.how-to-ind-d__step-title Sign up for SIRUM.
              .how-to-ind-d__step-column
                p.how-to-ind-d__step-text Click the button below to register. Once your organization is approved, you can choose which program option is right for you and we’ll organize training for your staff.
            li.how-to-ind-d__step
              .how-to-ind-d__step-column
                b.how-to-ind-d__step-title We send you everything you need for free.
              .how-to-ind-d__step-column
                p.how-to-ind-d__step-text This includes pre-paid shipping labels, boxes, packing tape, and even a regular courier service.
            li.how-to-ind-d__step
              .how-to-ind-d__step-column
                b.how-to-ind-d__step-title Donate your unused medications.
              .how-to-ind-d__step-column
                p.how-to-ind-d__step-text Your organization saves time and money and helps those in need. Just let us know when a donation is ready and we will arrange the pickup.
            li.how-to-ind-d__step
              .how-to-ind-d__step-column
                b.how-to-ind-d__step-title Everyone benefits.
              .how-to-ind-d__step-column
                p.how-to-ind-d__step-text We’ll send you a note detailing how much the medication was worth, and how many people it helped.
          a(href="#").btn.how-to-ind-d__btn Sign Up
    .pick-program
      .main-content__wrapper
        .pick-program__wrapper
          h2.pick-program__title Pick your program
          p.pick-program__text Donation is always free because we believe every single organization in the US should be donating rather than destroying their surplus medications. We do offer some paid options that make donation even more convenient for organizations.
          ul.pick-program__list
            li.pick-program__item
              .pick-program__item-inner
                h4.pick-program__item-title Any Organization
                p.pick-program__item-text Sort
                b.pick-program__item-price <span>$</span>0
              ul.pick-program__item-list.list.list--medium
                li.list__item All shipping and materials are free.
                li.list__item Organizations must sort and separate drugs that can be donated.
            li.pick-program__item
              .pick-program__item-inner
                h4.pick-program__item-title Small Nursing Home / Assisted Living
                p.pick-program__item-text No Sort
                  br
                  i &lt;100 beds
                b.pick-program__item-price <span>$</span>600<span>/year</span>
              ul.pick-program__item-list.list.list--medium
                li.list__item All shipping and materials are free.
                li.list__item Your staff no longer has to sort medication. Donate all of your non-controlled unexpired medicine.
            li.pick-program__item
              .pick-program__item-inner
                h4.pick-program__item-title Small Nursing Home / Assisted Living
                p.pick-program__item-text No Sort 
                  br
                  i &gt;100 beds
                b.pick-program__item-price <span>$</span>1000<span>/year</span>
              ul.pick-program__item-list.list.list--medium
                li.list__item All shipping and materials are free.
                li.list__item Your staff no longer has to sort medication. Donate all of your non-controlled unexpired medicine.
            li.pick-program__item
              .pick-program__item-inner
                h4.pick-program__item-title Pharmacies, Wholesalers, Manufacturers, and Enterprise
                p.pick-program__item-text
                b.pick-program__item-price
                  span
                    a(href="#").link.link--underlined Contact Us
              ul.pick-program__item-list.list.list--medium
                  li.list__item If you represent multiple facilities or you have unique requirements, let’s talk.
                  li.list__item All shipping and materials are free.
                  li.list__item We'll help you figure out the best option that makes sure you save money while doing the right thing.
          a(href="#").btn.pick-program__btn Sign Up
    .faq
      .main-content__wrapper
        .faq__wrapper
          h2.faq__title FAQ
          .faq__group
            h3.faq__group-title.faq__group-title--first Getting started
            ol.faq__group-list
              li.faq__list-item.accordion
                p.accordion__title Can individuals donate? What if I have extra medicine in my medicine cabinet? 
                .accordion__panel Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam debitis mollitia fuga. Cum asperiores culpa voluptatibus tenetur, optio tempora ratione blanditiis dolor expedita consequuntur inventore? Maiores vel veritatis repellat amet.
              li.faq__list-item.accordion
                p.accordion__title Is this program free?
                .accordion__panel Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam debitis mollitia fuga. Cum asperiores culpa voluptatibus tenetur, optio tempora ratione blanditiis dolor expedita consequuntur inventore? Maiores vel veritatis repellat amet.
              li.faq__list-item.accordion
                p.accordion__title Why should I donate medicine when I can return them for credit?
                .accordion__panel Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam debitis mollitia fuga. Cum asperiores culpa voluptatibus tenetur, optio tempora ratione blanditiis dolor expedita consequuntur inventore? Maiores vel veritatis repellat amet.
          .faq__group
            h3.faq__group-title.faq__group-title--second How it works
            ol.faq__group-list
              li.faq__list-item.accordion
                p.accordion__title Can I donate expired medications?
                .accordion__panel Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam debitis mollitia fuga. Cum asperiores culpa voluptatibus tenetur, optio tempora ratione blanditiis dolor expedita consequuntur inventore? Maiores vel veritatis repellat amet.
              li.faq__list-item.accordion
                p.accordion__title Do you accept all medications?
                .accordion__panel Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam debitis mollitia fuga. Cum asperiores culpa voluptatibus tenetur, optio tempora ratione blanditiis dolor expedita consequuntur inventore? Maiores vel veritatis repellat amet.
              li.faq__list-item.accordion
                p.accordion__title What if my facility type is not listed?
                .accordion__panel Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam debitis mollitia fuga. Cum asperiores culpa voluptatibus tenetur, optio tempora ratione blanditiis dolor expedita consequuntur inventore? Maiores vel veritatis repellat amet.
              li.faq__list-item.accordion
                p.accordion__title How are matches made?
                .accordion__panel Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam debitis mollitia fuga. Cum asperiores culpa voluptatibus tenetur, optio tempora ratione blanditiis dolor expedita consequuntur inventore? Maiores vel veritatis repellat amet.
              li.faq__list-item.accordion
                p.accordion__title How does shipping work?
                .accordion__panel Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam debitis mollitia fuga. Cum asperiores culpa voluptatibus tenetur, optio tempora ratione blanditiis dolor expedita consequuntur inventore? Maiores vel veritatis repellat amet.
              li.faq__list-item.accordion
                p.accordion__title What does unopened/sealed mean?
                .accordion__panel Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam debitis mollitia fuga. Cum asperiores culpa voluptatibus tenetur, optio tempora ratione blanditiis dolor expedita consequuntur inventore? Maiores vel veritatis repellat amet.
          .faq__group
            h3.faq__group-title.faq__group-title--third Compliance
            ol.faq__group-list
              li.faq__list-item.accordion
                p.accordion__title What records do I need to keep?
                .accordion__panel Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam debitis mollitia fuga. Cum asperiores culpa voluptatibus tenetur, optio tempora ratione blanditiis dolor expedita consequuntur inventore? Maiores vel veritatis repellat amet.
              li.faq__list-item.accordion
                p.accordion__title Is this legal?
                .accordion__panel Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam debitis mollitia fuga. Cum asperiores culpa voluptatibus tenetur, optio tempora ratione blanditiis dolor expedita consequuntur inventore? Maiores vel veritatis repellat amet.
              li.faq__list-item.accordion
                p.accordion__title What about patient information (HIPAA)?
                .accordion__panel Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam debitis mollitia fuga. Cum asperiores culpa voluptatibus tenetur, optio tempora ratione blanditiis dolor expedita consequuntur inventore? Maiores vel veritatis repellat amet.
    .contact-us.contact-us--v2
      .main-content__wrapper
        .contact-us__wrapper
          h3.contact-us__title Didn’t find what you’re looking for?
          p.contact-us__text Get in touch and we’ll be happy to help.
          form(action="/" method="post").form.contact-us__form
            .form__wrapper
              .form__column
                .form-fields-group
                  .form-fields-group__item.form-field
                    input(type="text" name="name" placeholder="Name*" required)
                  .form-fields-group__item.form-field
                    input(type="email" name="email" placeholder="Email*" required)
                .form-field
                  input(type="text" name="organization" placeholder="Organization name")
                .form-field
                  input(type="text" name="state" placeholder="State")
                .form-field
                  input(type="text" name="info-from" placeholder="How’d you learn about us?")
              .form__column
                .form-field.form-field--auto-height
                  textarea(name="message" placeholder="Message*" required)
                button(type="submit").form__btn.btn Send