body {
  margin: 0;
  font-family: $main-font;
  font-size: $main-font-size;
  font-weight: $regular;
  background-color: $body-color;
  color: $gray-200;
}

img {
  max-width: 100%;
}

b {
  font-weight: $bold;
}

h1, h2 {
  font-weight: $medium;
  font-family: $secondary-font;
}

a, button {
  position: relative;
  z-index: 2;
}

// @media (min-width: 1600px) {
//   body {
//     position: relative;
//     width: 1600px;
//     margin: 0 auto;
//   }
// }